# Importing from the Pandas library

In [17]:
import pandas as pd
import numpy as np


## Automobile Data Set

In [12]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data'
df = pd.read_csv(url)
df.head()

   3    ?  alfa-romero  gas  std   two  ...  9.00  111  5000  21  27  13495
0  3    ?  alfa-romero  gas  std   two  ...   9.0  111  5000  21  27  16500
1  1    ?  alfa-romero  gas  std   two  ...   9.0  154  5000  19  26  16500
2  2  164         audi  gas  std  four  ...  10.0  102  5500  24  30  13950
3  2  164         audi  gas  std  four  ...   8.0  115  5500  18  22  17450
4  2    ?         audi  gas  std   two  ...   8.5  110  5500  19  25  15250

[5 rows x 26 columns]

# Last Data of DataFrame

In [ ]:
df.tail()

# Adding the name of the DataFrame columns

In [ ]:
name_columns = ['symboling','normalized-losses','make','fuel-type','aspiration','num-of-doors',
              'body-style','drive-wheels','engine-location','wheel-base','length', 'width', 'height',
              'curb-weight','engine-type','num-of-cylinders','engine-size','fuel-system',
              'bore','stroke','compression-ratio','horsepower','peak-rpm','city-mpg','highway-mpg','price']
df.columns = name_columns
df.head(20)

We use <code>dataFrame.dtypes</code> to check data types

In [ ]:
df.dtypes

Returns a statistical summary <code>dataFrame.describe()</code>

In [ ]:
df.describe()

Provides full summary statistical <code>dataFrame.describe(include='all')</code>

In [ ]:
df.describe(include='all')

<code>dataFrame.info()</code> provides a concise summary of your DataFrame.

In [ ]:
df.info()

Replacing the element **?** of the **normalized-losses** column by Nan

In [ ]:
df = df.replace({"normalized-losses":{'?': np.nan}})
df

Changing tuple values
who are with Nan

In [ ]:
df.fillna(10)

Removing NaN from the "normalized-losses" column

In [ ]:
df = df.dropna()
df